In [1]:
# data

company_name_list = [{'name': 'Company 1'},
          {'name': 'Company 2'},
          {'name': 'Company 3'}]

employee_name_list = [{'name': 'John Doe'},
          {'name': 'Tom Smith'},
          {'name': 'Andrew Sebastian'}]

company_detail_list = {
      'Company 1': {
          'name': 'Company 1',
          'domain': 'Retail',
          'clients': [
              {
                  'name': 'acme.inc',
                  'country': 'united states'
              },
              {
                  'name': 'Wayne.co',
                  'country': 'united states'
              }
          ]
      },
      'Company 2': {
          'name': 'Company 2',
          'domain': 'Construction',
          'clients': [
              {
                  'name': 'Tesla',
                  'country': 'united states'
              },
              {
                  'name': 'Japan Airlines',
                  'country': 'japan'
              },
              {
                  'name': 'Indofood',
                  'country': 'indonesia'
              }
          ]
      },
      'Company 3': {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'clients': [
              {
                  'name': 'Petronas',
                  'country': 'malaysia'
              },
              {
                  'name': 'VW Group',
                  'country': 'germany'
              },
              {
                  'name': 'IBM',
                  'country': 'united states'
              },
              {
                  'name': 'Mitsubishi',
                  'country': 'japan'
              }
          ]
      }
  }

employee_detail_list = {
      'John Doe': {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1'
      },
      'Tom Smith': {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2'
      },
      'Andrew Sebastian': {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 2'
      },
  }

In [2]:
def sort_company():
    perusahaan = [
        {
            'name': company['name'],
            'domain': company['domain']
        }
        for company in company_detail_list.values()
    ]
    
    sorted_companies = sorted(perusahaan, key=lambda x: x['domain'], reverse=True)
    
    return sorted_companies

sorted_companies = sort_company()
print(sorted_companies)

[{'name': 'Company 1', 'domain': 'Retail'}, {'name': 'Company 3', 'domain': 'Healthcare'}, {'name': 'Company 2', 'domain': 'Construction'}]

In [3]:
def get_company_domain():
    for perusahaan in company_detail_list.values():
        name = perusahaan['name']
        domain = perusahaan['domain']
        client_count = len(perusahaan['clients'])
        print(f"{name}: {domain}, relation: {client_count} clients")
get_company_domain()

Company 1: Retail, relation: 2 clients
Company 2: Construction, relation: 3 clients
Company 3: Healthcare, relation: 4 clients

In [4]:
def get_employees():
    employees_with_domain = [
        {
            'full_name': employee['full_name'],
            'company': employee['company'],
            'domain': company_detail_list[employee['company']]['domain']
        }
        for employee in employee_detail_list.values()
    ]
    
    return employees_with_domain
employees = get_employees()
print(employees)

[{'full_name': 'John Doe', 'company': 'Company 1', 'domain': 'Retail'}, {'full_name': 'Tom Smith', 'company': 'Company 2', 'domain': 'Construction'}, {'full_name': 'Andrew Sebastian', 'company': 'Company 2', 'domain': 'Construction'}]

In [5]:
def get_employees_by_company() :
    employees_by_company = {company: [] for company in company_detail_list}
    
    for employee in employee_detail_list.values():
        company = employee['company']
        employees_by_company[company].append(employee['full_name'])
    
    result = [
        {
            'company': company,
            'employees': employees
        }
        for company, employees in employees_by_company.items()
    ]
    
    return result

employees_by_company = get_employees_by_company()
print(employees_by_company)

[{'company': 'Company 1', 'employees': ['John Doe']}, {'company': 'Company 2', 'employees': ['Tom Smith', 'Andrew Sebastian']}, {'company': 'Company 3', 'employees': []}]

In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer 

data_startup = pd.read_csv('UTS/50_Startups.csv')
data_startup.sample(7)

    R&D Spend  Administration  Marketing Spend       State     Profit
20   76253.86       113867.30        298664.47  California  118474.03
29   65605.48       153032.06        107138.38    New York  101004.64
40   28754.33       118546.05        172795.67  California   78239.91
24   77044.01             NaN        140574.81    New York  108552.04
19   86419.70       153514.11              NaN    New York  122776.86
21   78389.47       153773.43        299737.29    New York  111313.02
34   46426.07       157693.92        210797.67  California   96712.80

In [2]:
data_startup.isna()

    R&D Spend  Administration  Marketing Spend  State  Profit
0       False           False            False  False   False
1       False           False            False  False   False
2       False           False            False  False   False
3       False           False            False  False   False
4       False           False            False  False   False
5       False           False            False  False   False
6       False           False            False  False   False
7       False            True            False  False   False
8       False           False            False  False   False
9       False           False            False  False   False
10       True           False            False  False   False
11      False           False            False  False   False
12      False           False            False  False   False
13      False           False            False  False    True
14      False           False            False  False   False
15      False           False            False  False   False
16      False           False            False  False   False
17      False           False            False  False   False
18      False           False            False  False   False
19      False           False             True  False   False
20      False           False            False  False   False
21      False           False            False  False   False
22      False           False            False  False   False
23       True           False             True  False   False
24      False            True            False  False   False
25      False           False            False  False   False
26      False           False            False  False   False
27      False           False            False  False   False
28      False           False            False  False   False
29      False           False            False  False   False
30      False           False            False  False   False
31       True           False            False  False    True
32      False           False            False  False   False
33      False           False            False  False   False
34      False           False            False  False   False
35      False           False            False  False   False
36      False           False            False  False   False
37      False            True            False  False   False
38      False           False             True  False   False
39      False           False            False  False   False
40      False           False            False  False   False
41      False           False            False  False   False
42      False           False            False  False   False
43      False           False            False  False   False
44      False           False            False  False   False
45      False           False            False  False   False
46      False           False            False  False   False
47       True           False             True  False   False
48      False           False             True  False   False
49       True           False            False  False   False

In [3]:
missing_values = data_startup.isna().any()
for column, is_missing in missing_values.items():
    if is_missing:
        mean_value = data_startup[column].mean()
        data_startup[column].fillna(mean_value, inplace=True)

print("\nData setelah pre-processing:")
data_startup.sample(7)

Data setelah pre-processing:

    R&D Spend  Administration  Marketing Spend       State     Profit
1   162597.70       151377.59    443898.530000  California  191792.06
12   93863.75       127320.38    249839.440000     Florida  141585.52
19   86419.70       153514.11    223582.690222    New York  122776.86
3   144372.41       118671.85    383199.620000    New York  182901.99
41   27892.92        84710.77    164470.710000     Florida   77798.83
5   131876.90        99814.71    362861.360000    New York  156991.12
16   78013.11       121597.55    264346.060000  California  126992.93

In [4]:
X = data_startup[['State']]
one_hot_encoder = OneHotEncoder()
ct = ColumnTransformer([("OneHotEncoder", one_hot_encoder,[0])], remainder="passthrough")
X = ct.fit_transform(X)
df = pd.DataFrame(X)

print("\nData setelah one-hot encoding:")
df

Data setelah one-hot encoding:

      0    1    2
0   0.0  0.0  1.0
1   1.0  0.0  0.0
2   0.0  1.0  0.0
3   0.0  0.0  1.0
4   0.0  1.0  0.0
5   0.0  0.0  1.0
6   1.0  0.0  0.0
7   0.0  1.0  0.0
8   0.0  0.0  1.0
9   1.0  0.0  0.0
10  0.0  1.0  0.0
11  1.0  0.0  0.0
12  0.0  1.0  0.0
13  1.0  0.0  0.0
14  0.0  1.0  0.0
15  0.0  0.0  1.0
16  1.0  0.0  0.0
17  0.0  0.0  1.0
18  0.0  1.0  0.0
19  0.0  0.0  1.0
20  1.0  0.0  0.0
21  0.0  0.0  1.0
22  0.0  1.0  0.0
23  0.0  1.0  0.0
24  0.0  0.0  1.0
25  1.0  0.0  0.0
26  0.0  1.0  0.0
27  0.0  0.0  1.0
28  0.0  1.0  0.0
29  0.0  0.0  1.0
30  0.0  1.0  0.0
31  0.0  0.0  1.0
32  1.0  0.0  0.0
33  0.0  1.0  0.0
34  1.0  0.0  0.0
35  0.0  0.0  1.0
36  0.0  1.0  0.0
37  1.0  0.0  0.0
38  0.0  0.0  1.0
39  1.0  0.0  0.0
40  1.0  0.0  0.0
41  0.0  1.0  0.0
42  1.0  0.0  0.0
43  0.0  0.0  1.0
44  1.0  0.0  0.0
45  0.0  0.0  1.0
46  0.0  1.0  0.0
47  1.0  0.0  0.0
48  0.0  0.0  1.0
49  1.0  0.0  0.0

In [5]:
data_startup['Tax'] = (data_startup['Profit'] + data_startup['Marketing Spend'] + data_startup['Administration']) * 0.05
data_startup

,R&D Spend,Administration,Marketing Spend,State,Profit,Tax
0,165349.200,136897.800000,471784.100000,New York,192261.830000,40047.186500
1,162597.700,151377.590000,443898.530000,California,191792.060000,39353.409000
2,153441.510,101145.550000,407934.540000,Florida,191050.390000,35006.524000
3,144372.410,118671.850000,383199.620000,New York,182901.990000,34238.673000
4,142107.340,91391.770000,366168.420000,Florida,166187.940000,31187.406500
5,131876.900,99814.710000,362861.360000,New York,156991.120000,30983.359500
6,134615.460,147198.870000,127716.820000,California,156122.510000,21551.910000
7,130298.130,122790.158298,323876.680000,Florida,155752.600000,30120.971915
8,120542.520,148718.950000,311613.290000,New York,152211.770000,30627.200500
9,123334.880,108679.170000,304981.620000,California,149759.960000,28171.037500
10,76788.862,110594.110000,229160.950000,Florida,146121.950000,24293.850500
11,100671.960,91790.610000,249744.550000,California,144259.400000,24289.728000
12,93863.750,127320.380000,249839.440000,Florida,141585.520000,25937.267000
13,91992.390,135495.070000,252664.930000,California,111850.855208,25000.542760
14,119943.240,156547.420000,256512.920000,Florida,132602.650000,27283.149500
15,114523.610,122616.840000,261776.230000,New York,129917.040000,25715.505500
16,78013.110,121597.550000,264346.060000,California,126992.930000,25646.827000
17,94657.160,145077.580000,282574.310000,New York,125370.370000,27651.113000
18,91749.160,114175.790000,294919.570000,Florida,124266.900000,26668.113000
19,86419.700,153514.110000,223582.690222,New York,122776.860000,24993.683011
20,76253.860,113867.300000,298664.470000,California,118474.030000,26550.290000
21,78389.470,153773.430000,299737.290000,New York,111313.020000,28241.187000
22,73994.560,122782.750000,303319.260000,Florida,110352.250000,26822.713000
23,76788.862,105751.030000,223582.690222,Florida,108733.990000,21903.385511
24,77044.010,122790.158298,140574.810000,New York,108552.040000,18595.850415
25,64664.710,139553.160000,137962.620000,California,107404.340000,19246.006000
26,75328.870,144135.980000,134050.070000,Florida,105733.540000,19195.979500
27,72107.600,127864.550000,353183.810000,New York,105008.310000,29302.833500
28,66051.520,182645.560000,118148.200000,Florida,103282.380000,20203.807000
29,65605.480,153032.060000,107138.380000,New York,101004.640000,18058.754000
30,61994.480,115641.280000,91131.240000,Florida,99937.590000,15335.505500
31,76788.862,152701.920000,88218.230000,New York,111850.855208,17638.550260
32,63408.860,129219.610000,46085.250000,California,97427.840000,13636.635000
33,55493.950,103057.490000,214634.810000,Florida,96778.920000,20723.561000
34,46426.070,157693.920000,210797.670000,California,96712.800000,23260.219500
35,46014.020,85047.440000,205517.640000,New York,96479.510000,19352.229500
36,28663.760,127056.210000,201126.820000,Florida,90708.190000,20944.561000
37,44069.950,122790.158298,197029.420000,California,89949.140000,20488.435915
38,20229.590,65947.930000,223582.690222,New York,81229.060000,18537.984011
39,38558.510,82982.090000,174999.300000,California,81005.760000,16949.357500
40,28754.330,118546.050000,172795.670000,California,78239.910000,18479.081500
41,27892.920,84710.770000,164470.710000,Florida,77798.830000,16349.015500
42,23640.930,96189.630000,148001.110000,California,71498.490000,15784.461500
43,15505.730,127382.300000,35534.170000,New York,69758.980000,11633.772500
44,22177.740,154806.140000,28334.720000,California,65200.330000,12417.059500
45,1000.230,124153.040000,1903.930000,New York,64926.080000,9549.152500
46,1315.460,115816.210000,297114.460000,Florida,49490.750000,23121.071000
47,76788.862,135426.920000,223582.690222,California,42559.730000,20078.467011
48,542.050,51743.150000,223582.690222,New York,35673.410000,15549.962511
49,76788.862,116983.800000,45173.060000,California,14681.400000,8841.913000

In [6]:
numeric_columns = ['R&D Spend', 'Administration', 'Marketing Spend', 'Profit', 'Tax']
numeric_data = data_startup[numeric_columns]
scaler = StandardScaler()
x = scaler.fit_transform(numeric_data)

x

array([[ 2.07635100e+00,  5.54317531e-01,  2.29924826e+00,
         2.02429799e+00,  2.46094612e+00],
       [ 2.01184041e+00,  1.12325752e+00,  2.04092640e+00,
         2.01247181e+00,  2.36131091e+00],
       [ 1.79716796e+00, -8.50460062e-01,  1.70776898e+00,
         1.99380072e+00,  1.73704335e+00],
       [ 1.58453740e+00, -1.61816591e-01,  1.47863361e+00,
         1.78866964e+00,  1.62677025e+00],
       [ 1.53143145e+00, -1.23370564e+00,  1.32086272e+00,
         1.36790347e+00,  1.18856986e+00],
       [ 1.29157256e+00, -9.02751434e-01,  1.29022731e+00,
         1.13637905e+00,  1.15926614e+00],
       [ 1.35577977e+00,  9.59067227e-01, -8.88066812e-01,
         1.11451232e+00, -1.95209076e-01],
       [ 1.25455734e+00, -5.71773929e-16,  9.29087313e-01,
         1.10520006e+00,  1.03541639e+00],
       [ 1.02583113e+00,  1.01879422e+00,  8.15483696e-01,
         1.01606179e+00,  1.10811721e+00],
       [ 1.09129971e+00, -5.54449026e-01,  7.54050299e-01,
         9.54338943e-01,  7.55381193e-01],
       [-3.41178505e-16, -4.79207193e-01,  5.16749847e-02,
         8.62754226e-01,  1.98568194e-01],
       [ 5.59953762e-01, -1.21803441e+00,  2.42354024e-01,
         8.15865649e-01,  1.97976151e-01],
       [ 4.00331137e-01,  1.78001495e-01,  2.43233051e-01,
         7.48552326e-01,  4.34583550e-01],
       [ 3.56455963e-01,  4.99201457e-01,  2.69407370e-01,
         3.66335725e-16,  3.00058124e-01],
       [ 1.01178064e+00,  1.32639050e+00,  3.05053760e-01,
         5.22413969e-01,  6.27869267e-01],
       [ 8.84714123e-01, -6.81002346e-03,  3.53811164e-01,
         4.54805351e-01,  4.02735799e-01],
       [ 2.87032391e-02, -4.68599715e-02,  3.77617141e-01,
         3.81192638e-01,  3.92872699e-01],
       [ 4.18933117e-01,  8.75717490e-01,  5.46477069e-01,
         3.40345664e-01,  6.80713471e-01],
       [ 3.50753288e-01, -3.38475804e-01,  6.60839100e-01,
         3.12566470e-01,  5.39542262e-01],
       [ 2.25800856e-01,  1.20720567e+00,  0.00000000e+00,
         2.75055608e-01,  2.99072977e-01],
       [-1.25434474e-02, -3.50596995e-01,  6.95530502e-01,
         1.66734447e-01,  5.22621392e-01],
       [ 3.75272283e-02,  1.21739487e+00,  7.05468719e-01,
        -1.35396783e-02,  7.65455547e-01],
       [-6.55141103e-02, -2.91086879e-04,  7.38650796e-01,
        -3.77264860e-02,  5.61744774e-01],
       [-3.41178505e-16, -6.69501518e-01,  0.00000000e+00,
        -7.84652095e-02, -1.44732756e-01],
       [ 5.98210008e-03, -5.71773929e-16, -7.68955035e-01,
        -8.30456914e-02, -6.19736550e-01],
       [-2.84258119e-01,  6.58651950e-01, -7.93153420e-01,
        -1.11938350e-01, -5.26366001e-01],
       [-3.42304006e-02,  8.38720138e-01, -8.29397871e-01,
        -1.53999736e-01, -5.33550438e-01],
       [-1.09755035e-01,  1.99383025e-01,  1.20057799e+00,
        -1.72256966e-01,  9.17921387e-01],
       [-2.51743515e-01,  2.35183876e+00, -9.76707054e-01,
        -2.15706217e-01, -3.88813686e-01],
       [-2.62201194e-01,  1.18826496e+00, -1.07869805e+00,
        -2.73046953e-01, -6.96870376e-01],
       [-3.46863286e-01, -2.80893763e-01, -1.22698242e+00,
        -2.99909296e-01, -1.08796324e+00],
       [-3.41178505e-16,  1.17529310e+00, -1.25396749e+00,
         3.66335725e-16, -7.57216938e-01],
       [-3.13702287e-01,  2.52626050e-01, -1.64427221e+00,
        -3.63090745e-01, -1.33194249e+00],
       [-4.99272166e-01, -7.75336106e-01, -8.28899320e-02,
        -3.79426916e-01, -3.14170450e-01],
       [-7.11874129e-01,  1.37143879e+00, -1.18435812e-01,
        -3.81091447e-01,  5.01257337e-02],
       [-7.21534892e-01, -1.48298708e+00, -1.67348103e-01,
        -3.86964383e-01, -5.11110965e-01],
       [-1.12832229e+00,  1.67621726e-01, -2.08023075e-01,
        -5.32253897e-01, -2.82432060e-01],
       [-7.67114796e-01, -5.71773929e-16, -2.45979909e-01,
        -5.51362525e-01, -3.47937380e-01],
       [-1.32606654e+00, -2.23344513e+00,  0.00000000e+00,
        -7.70885301e-01, -6.28046896e-01],
       [-8.96333860e-01, -1.56413883e+00, -4.50058988e-01,
        -7.76506745e-01, -8.56193718e-01],
       [-1.12619882e+00, -1.66759525e-01, -4.70472620e-01,
        -8.46135357e-01, -6.36506041e-01],
       [-1.14639511e+00, -1.49621552e+00, -5.47592044e-01,
        -8.57239281e-01, -9.42410408e-01],
       [-1.24608560e+00, -1.04518810e+00, -7.00160473e-01,
        -1.01584656e+00, -1.02348749e+00],
       [-1.43682031e+00,  1.80434456e-01, -1.74201360e+00,
        -1.05963768e+00, -1.61957883e+00],
       [-1.28039098e+00,  1.25797212e+00, -1.80870671e+00,
        -1.17439895e+00, -1.50708893e+00],
       [-1.77691058e+00,  5.35503549e-02, -2.05355200e+00,
        -1.18130303e+00, -1.91895658e+00],
       [-1.76951982e+00, -2.74020413e-01,  6.81171769e-01,
        -1.56987819e+00,  3.01422524e-02],
       [-3.41178505e-16,  4.96523707e-01,  0.00000000e+00,
        -1.74436246e+00, -4.06814090e-01],
       [-1.78765289e+00, -2.79157942e+00,  0.00000000e+00,
        -1.91772143e+00, -1.05716450e+00],
       [-3.41178505e-16, -2.28143460e-01, -1.65272241e+00,
        -2.44618267e+00, -2.02052510e+00]])